<div class="grupoContato">
    <label for="nome">Nome Completo</label>
    <input type="text" name="nome" placeholder="José da Silva">

    <label for="email">E-Mail</label>
    <input type="text" name="email" placeholder="seu_email@exemplo.com">

    <label for="departamento">Selecione o Departamento</label>
    <select name="departamento">
        <option value="adm">Administração</option>
        <option value="mkt">Marketing</option>
        <option value="srv">Serviços</option>
        <option value="limp">Limpeza</option>
        <option value="ti">Tecnologia da Informação</option>
    </select>

    <label for="mensagem">Deixe aqui sua mensagem</label>
    <textarea type="text" name="mensagem" placeholder="sua mensagem"></textarea>

    <a href="#" class="btn btn-warning">Limpar</a>
    <a href="#" class="btn btn-primary">Enviar</a>    
</div>