<menu>
    <ul>
      <li>
        <span><a routerLink="/home">Home</a></span>
      </li>
      <li>
        <span><a routerLink="/quem-somos">Quem Somos</a></span>
      </li>
      <li>
        <span><a routerLink="/artigos">Artigos</a></span>
      </li>
      <li>
        <span><a routerLink="/contato">Contato</a></span>
      </li>
    </ul>
  </menu>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>© 2025 | TI-35 Senac Botucatu | Todos os direitos reservados</p>
  </footer>